/* Removes Useless areas */
header.splitheader, .j-viewad-contact-legal, #home-tsr-srvy {
    display: none;
}
/* Removes Featured Sections */
#home-gallery, #home-topcitybx, #store-gallery {
    display: none;
}
/* Removes Advertising */
#site-content, #site-footer {
    top: 0 !important;
}
.site-base--right-banner--full, .site-base--left-banner {
    visibility: hidden;
}
div[data-liberty-position-name], div[data-liberty-position-name="my_messages-top-banner"], #my-msgbox-atf, .j-liberty-wrapper, .banner, #aax_liberty-my_messages-top-banner, #aax_liberty-my_messages-sky-atf-left {
    display: none !important;
}